<h1>Available Events</h1>

<div class="container">
  <% @events.each do |event| %>
    <div class = "event">
      <p class = "creator"><%= event.creator %></p>
    <% end %>
      <h3 class="title"><%= event.title %> </h1>
      <p class= "location"><%= event.location%></p>
      <p class= "date"><%= event.date%></p>
    </div>
  <% end %>
</div>
